@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: #0E0C15;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-50px) translateX(30px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

.animate-float {
  animation: floatAnimation infinite ease-in-out;
}

.font-aclonica {
  font-family: 'Aclonica', sans-serif;
}

.font-tiltPrism {
  font-family: 'Tilt Prism', cursive;
}

.carousel-root {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float-up {
  animation: floatUp 1.5s ease-out forwards;
}

@keyframes revealWord {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden-scroll {
  opacity: 0;
  transform: translateX(-20px);
}

.visible {
  opacity: 1;
  animation: revealWord 1s ease-out forwards;
}

.word {
  display: inline-block;
  opacity: 0;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}